body {
  margin: 0px;
}

h1 {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  color: #de2727;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.header-background {
  background-color: #353131;
  padding: 0px;
  margin: 0px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 30px;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #3d3d3d;
  }
  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
  background: #d80000;
}

.header-menu a:hover:after {
  width: 100%;
}

.introducao-bg {
  background: #444141;
  color: #de2727;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-cnt {
  align-self: end;
  padding-bottom: 700px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #eb4848;
}
